.espaco {
    display: flex;
    flex-direction: row;
    width: clamp(5px, 10%, 100vw);
    color: #ffad06;
    height: 100%;
    
}


.LadoEsquerdo3 {  /*Lado Esquerdo*/
    width: clamp(30%, 360px, 100vw);
    height: min(100%, 360px, 100vh);
    margin-top: min(5vh,360px);
    display: flex;
    z-index: 5;
}

.LadoEsquerdo3 .containerEsquerdo3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 8px 13px 15px 5px var(--amarelo-fraco-vanlus);
    z-index: 10;
    padding: 10px;
    transition: all 0.5s;
}


.cadastro-logo3 {
    width: 100px;
    height: 100px;
    margin-left: 37%;
    margin-top: 15px;
    margin-bottom: 15px;  
}

.h2-cadastro {
    margin-left: 10%;
    z-index: 10;
}

                                /*Dados necessários*/

#cadastro-condutor3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}


#cadastro-condutor3 #avatarc-fake{
    display: flex;
    align-items: center;
    background-color: var(--prata-vanlus);
    width: 60%;
    height: 215px;
    font-size: 15px;
    margin-top: 20px;
    align-self: center; 
    border: none;
    border-radius: 100%;
    transition: all 400ms;
    z-index: 10;
}

#avatarc-fake .cam {
    margin: auto;
    color: gray;
}

#avatarc-fake #avatarc {
    display: none;
}

#cadastro-condutor3 input:hover {
    background-color: rgb(226, 226, 226);
}

#cadastro-condutor3 input:focus {
    outline: 0;
    font-size: 16px;
}

.LadoEsquerdo3 .proximo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    transition: all 400ms;
    color: var(--amarelo-fraco-vanlus);
    z-index: 15;
}

#next1{
    cursor: pointer;
}

.LadoEsquerdo3 .proximo #next1:hover {
    color: var(--amarelo-forte-vanlus);
}

/**/

.linha-progressao3 {
    display: flex;
    width: 100%;
    height: 10px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    background: var(--prata-vanlus);
    border-radius: 10px;
    z-index: 10;
}

.nivel {
    color: var(--amarelo-fraco-vanlus);
    width: 15%;
    text-align: center;
    position: relative; 
    z-index: 10;
}

#progressao3 {
    position: absolute;
    height: 100%;
    width: 49.8%;
    background: var(--amarelo-fraco-vanlus);
    border-radius: 10px;
    z-index: 15;
}

#progressao::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    border-left: 20px solid #ffad06;

}

