/* css para criar pré definiçôes gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

@font-face {
    font-family:'Hitmo2.0' ;
    src: url('Hitmo2.0-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Titulo';
    src: url('Hitmo2.0-Bold.ttf') format('truetype');
    
}