/* css para criar pré definiçôes gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hitmo2.0';
    border: none;
    border-bottom: none;
}

@font-face {
    font-family:'Hitmo2.0' ;
    src: url('Hitmo2.0-Regular.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Titulo';
    src: url('Hitmo2.0-Bold.ttf') format('truetype');
    
}

@font-face {
    font-family: 'sub-titulo';
    src: url('Hitmo2.0-Light.ttf') format('truetype');
}

html, body, #root {
    
    max-width: 100vw;
    max-height: auto;

    width: 100%;
    height: auto;
}

html {
    background: var(--background-main);
        scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color:inherit;
}

:root {
    --background-main: #f6f6f6;
    --azul-vanlus: #003566;
    --azul-claro-vanlus: #a2d6f9;
    --prata-vanlus: #d6d6d6;
    --amarelo-forte-vanlus: #ffc300;
    --amarelo-fraco-vanlus: #ffd60a;
    --amarelo-escuro-vanlus:#73620C;
}