#LadoEsquerdo {
    width: 45vw;
    height: 100vh;
    padding-left: 10%;
    padding-top: 3%;

}

#LadoEsquerdo .containerEsquerdo {
    width: 70%;
    height: 94%;
    border-radius: 10px;
    box-shadow: 30px 20px 50px #FFD60A;
}

#LadoEsquerdo .containerEsquerdo .cabeçalho {
    width: 100%;
    height: 20%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#LadoEsquerdo .containerEsquerdo .cabeçalho img {
    height: 80%;
    padding-top: 5%;
}

#LadoEsquerdo .DadosBasicos h2{
    padding-left: 30%;
    padding-top: 5%;
}

#LadoEsquerdo .progressao{
    
    width: 100%;
}

#LadoEsquerdo .progressao .enviar {
    cursor: pointer;
    transition: all 400ms;
    color: #FFD60A;
}


#LadoEsquerdo .progressao .enviar:hover {
    color: #FFC300;
}

