.map{
    width: 60vw;
    margin-left: 19%;
    margin-top: 80px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.map img {
    border: 4px solid var(--azul-vanlus);
    width: 700px;
}

.right_side {
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    position: fixed;
    right: 0;
}

.right_side h1 {
    color: var(--azul-vanlus);
}

.conductor_status {
    display: flex;
    align-items: center;
    gap: 20px;
}

.conductor_status .name_conductor {
    flex-direction: column;
    align-items: center;
}

.conductor_status img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.right_side h3 {
    color: var(--azul-vanlus);
}

.right_side .first_status {
    display: flex;
    gap: 5px;
    align-items: center;
}

.right_side .middle_distant {
    display: flex;
    gap: 5px;
    align-items: center;
}

.right_side .last_time {
    display: flex;
    gap: 5px;
    align-items: center;
}

.right_side .local img {
    width: 110px;
    height: 100px;
    margin-left: 29%;
}

.right_side .local .street {
    text-align: center;
}

.right_side .local .street strong {
    font-size: 35px;

}
